venv/
__pycache__/
*.pyc
.DS_Store
.env
.google-cookie

# Arquivos de credenciais e tokens não devem ser commitados
credentials.json
onedrive_token.json
onedrive_token.json

# Caso o usuário baixe o DB manualmente
music_database*.json
