onedrive/credentials.json
/venv/
credentials.json
erros.json
/default/__pycache__/
/message/__pycache__/
/onedrive/__pycache__/
/telegram/__pycache__/
/googleConnection/__pycache__/
credentialsGoogle.json
token.json
